* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    color: #333;
}

.text-white{
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.push-right {
    float: right !important;
}

.mt-8 {
    margin-top: 8px;
}

.mt-16 {
    margin-top: 16px;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.column {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.column-full {
    width: 100%;
}

.column-half {
    width: calc(100%/2);
}

.column-third {
    width: calc(100%/3);
}

.header-main {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav {
    display: inline-block;
}

.ul-nav {
    height: 46px;
    background-color: #000;
    opacity: 0.9;
}

.ul-nav li {
    display: inline-block;
    position: relative;
}

.ul-nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

.ul-nav li a {
    display: inline-block;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
}

.ul-nav li:hover .subnav {
    display: block;
}

.ul-nav>li:hover>a,
.ul-nav .subnav li:hover a {
    color: #000;
    background-color: #777;
}

.ul-nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    color: #000;
    right: auto;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
}

.ul-nav .ul-nav-down {
    font-size: 14px;
}

.ul-nav .subnav li {
    display: block;
}

.ul-nav .subnav li a {
    color: #000;
    display: block;
    padding: 0 16px;
    line-height: 38px;
}

.header-main .subnav-btn-search {
    float: right;
    display: block;
    line-height: 46px;
}

.header-main .subnav-btn-search:hover {
    background-color: red;
    cursor: pointer;
}

.header-main .icon-search {
    font-size: 16px;
    color: #fff;
    padding: 0 21px;
}

.slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background-image: url('/assets/image/band.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.slider .text-content .text-heading {
    margin: 15px 0;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 0.5 px;
}

.slider .text-content .text-desciption {
    margin-top: 25px;
    font-size: 14px;
}

#content {}

#content .content-section {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
}

#content .content-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    line-height: 1.4;
}

#content .sub-content-heading {
    font-size: 15px;
    text-align: center;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.7;
}

#content .about-text {
    font-size: 15px;
    margin-top: 20px;
    line-height: 1.4;
    text-align: justify;
}

#content .member-list {
    margin-top: 48px;
}


#content .member-name {
    font-size: 15px;
}

#content .member-image {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

/* tour section */
.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    margin-top: 40px;
    list-style: none;
}

.ticket-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.ticket-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}
/* Places */
.places-list {
    margin-top: 32px;
}

.place-item {
    
}

.place-img {
    display: block;
    width: 100%;
}

.place-img:hover {
    opacity: 0.6;
}

.place-content {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.6;
}

.btns {
    display: inline-block;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
}

.btns:hover {
    color: #000;
    background-color: #ddd;
} 

/* Contact */

.contact-content {
    margin-top: 32px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class *="ti-"] {
    display: inline-block;
    width: 30px;
}

.contact-form {
    font-size: 15px ;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Map */

.map-section img {
    width: 100%;
    background-size: cover;
}

/* footer section */

#footer-main {
    padding: 64px 16px;
    text-align: center;
}

#footer-main .socials-list {
    font-size: 22px;
}

#footer-main .socials-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer-main .copyright a:hover,
#footer-main .socials-list a:hover {
    opacity: 0.4;
}

#footer-main .copyright {
    margin: 15px 0;
}

#footer-main .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.open-modal {
    display: flex;
}

.modal-container {
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFadeIn ease 0.5s;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal .modal-icon {
    padding-right: 16px;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.85;
}
.modal-close:hover {
    opacity: 1;
    color: red;
}

.modal-body {
    padding: 16px;
}

.modal-body .modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
    line-height: 1.4;
    font-weight: 600;
}

.modal-body .modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

.modal-body #buy-tickets {
    background: #009688;
    border: none;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 16px;
    cursor: pointer;
    color: #fff;
}

.modal-body #buy-tickets:hover {
    opacity: 0.9;
}

.modal-footer {
    padding: 16px;
    text-align: right; 
}

.modal-footer a {
    color: darkcyan;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


