<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Band</title>
    <link rel="shortcut icon" href="/assets/image/member-band.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/assets/js/index.js">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/font/themify-icons/themify-icons.css">
</head>

<body>
    <div class="main">
        <section class="header-main" id="header-main">
            <div class="nav">
                <ul class="ul-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#band">Band</a>
                    </li>
                    <li>
                        <a href="#tour">Tour</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="">
                            More
                            <i class="ul-nav-down ti-angle-down"></i>
                        </a>
                        <ul class="subnav">
                            <li>
                                <a href="#">Merchandise</a>
                            </li>
                            <li>
                                <a href="#">Extras</a>
                            </li>
                            <li>
                                <a href="#">Media</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="subnav-btn-search">
                <i class="icon-search ti-search"></i>
            </div>
        </section>
        <section class="body-main" id="body-main">
            <div class="slider" id="slider">
                <div class="text-content">
                    <h2 class="text-heading">Shynna</h2>
                    <div class="text-desciption">Huy là một người tràn đầy sự cute phô mai que</div>
                </div>
            </div>
            <!-- Begin content -->
            <div class="Content" id="content">
                <div class="content-section" id="band">
                    <h2 class="content-heading">THE BAND</h2>
                    <p class="sub-content-heading">We love music</p>
                    <p class="about-text">
                        Lorem, ipsum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ipsam quibusdam numquam, veritatis fugit velit dolore. Sunt sint dignissimos quam, quo ipsum vero natus illum voluptas alias tempore dolores numquam! Lorem ipsum dolor sit amet
                        consectetur adipisicing elit. Doloribus necessitatibus minima expedita a officiis autem ea, excepturi blanditiis, quis, exercitationem ullam illo repudiandae atque culpa odio. Vero dolorum distinctio accusamus.elit. Doloribus necessitatibus
                        minima expedita a officiis autem ea, excepturi blanditiis, quis, exercitationem ullam illo repudiandae atque culpa odio. Vero dolorum distinctio accusamus
                    </p>
                    <div class="member-list row">
                        <div class="member-item column column-third text-center">
                            <p class="member-name">Name</p>
                            <img src="/assets/image/member-band.jpg" alt="" class="member-image">
                        </div>
                        <div class="member-item column column-third text-center">
                            <p class="member-name">Name</p>
                            <img src="/assets/image/member-band.jpg" alt="" class="member-image">
                        </div>
                        <div class="member-item column column-third text-center ">
                            <p class="member-name">Name</p>
                            <img src="/assets/image/member-band.jpg" alt="" class="member-image">
                        </div>
                    </div>
                </div>
                <!--Tour -->
                <div class="tour-section" id="tour">
                    <div class="content-section">
                    <h2 class="content-heading text-white">TOUR DATES</h2>
                    <p class="sub-content-heading text-white">Remembers to book your tickets</p>
                    <!-- tickets -->
                    <ul class="ticket-list">
                        <li>September <span class="sold-out">Sold out</span></li>
                        <li>October <span class="sold-out">Sold out</span></li>
                        <li>November <span class="quantity">3</span></li>
                    </ul>
                    <!--Places-->
                    <div class="places-list row">
                        <div class="place-item column column-third ">
                            <img src="/assets/image/band.jpg" alt="New York" class="place-img">
                            <div class="place-content">
                                <h3 class="place-heading">New York</h3>
                                <p class="place-time">Fri 27 Nov 2016</p>
                                <p class="place-desc">Messenger để xem và trả lời tin nhắn của Nguyen</p>
                                <button class="btns js-buy-tickets">Buy Tickets </button>
                            </div>
                        </div>

                        <div class="place-item column column-third">
                            <img src="/assets/image/band.jpg" alt="New York" class="place-img">
                            <div class="place-content">
                                <h3 class="place-heading">New York</h3>
                                <p class="place-time">Fri 27 Nov 2016</p>
                                <p class="place-desc">Messenger để xem và trả lời tin nhắn của Nguyen</p>
                                <button class="btns js-buy-tickets">Buy Tickets </button>
                            </div>
                        </div>

                        <div class="place-item column column-third">
                            <img src="/assets/image/band.jpg" alt="New York" class="place-img">
                            <div class="place-content">
                                <h3 class="place-heading">New York</h3>
                                <p class="place-time">Fri 27 Nov 2016</p>
                                <p class="place-desc">Messenger để xem và trả lời tin nhắn của Nguyen</p>
                                <button class="btns js-buy-tickets">Buy Tickets </button>
                            </div>
                        </div>

                    </div>
                    </div>
                </div>
                <!--Contact -->
                <div class="contact-section" id="contact">
                    <div class="content-section">
                        <h2 class="content-heading">Contact</h2>
                        <p class="sub-content-heading">Fan?Drop a note!</p>

                        <div class="row contact-content">
                            <div class="column column-half contact-info">
                                <p><i class="ti-location-pin"></i>Chicago</p>
                                <p><i class="ti-mobile"></i>Phone: 0399916107</p>
                                <p><i class="ti-email"></i>Email: mail@gmail.com</p>
                            </div>

                            <div class="column column-half contact-form">
                                <form action="">
                                    <div class="row">
                                        <div class="column column-half">
                                            <input type="text"required class="form-control" placeholder="Name" >
                                        </div>
                                        <div class="column column-half">
                                            <input type="email"required class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="row mt-8">
                                        <div class="column column-full">
                                            <input type="text" required class="form-control" placeholder="Message" >
                                        </div>
                                    </div>
                                    <input class="push-right mt-16 btns" type="submit" value="SEND" >
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End content -->
            <div class="map-section">
                <img src="/assets/image/band.jpg" alt="">
            </div>
        </section>
        <section class="footer-main" id="footer-main">
            <div class="socials-list">
                <a href=""><i class="ti-google"></i></a>
                <a href=""><i class="ti-instagram"></i></a>
                <a href=""><i class="ti-youtube"></i></a>
                <a href=""><i class="ti-pinterest"></i></a>
                <a href=""><i class="ti-twitter"></i></a>
                <a href=""><i class="ti-linkedin"></i></a>
            </div>
            <p class="copyright">Powder By <a href="">Shyna_H</a></p>
        </section>
    </div>


    <!-- MODAL -->
    <div class="modal">
        <div class="modal-container">
            <div class="modal-close">
                <i class="ti-close"></i>
            </div>
            <header class="modal-header">
                <i class="ti-bag modal-icon"></i>
                Tickets        
            </header>
            <div class="modal-body">
                <label for="quantity-tickets" class="modal-label">
                    <i class="ti-shopping-cart"></i>
                    Tickets, $15 per person
                </label>
                <input type="text" placeholder="How many?" id="quantity-tickets" class="modal-input">

                <label for="email-ticket" class="modal-label">
                    <i class="ti-user"></i>
                    Send to
                </label>
                <input type="email" placeholder="Enter email..." class="modal-input" id="email-ticket">

                <button id="buy-tickets">
                    Pay <i class="ti-check"></i>
                </button>
            </div>
            <footer class="modal-footer">
                <p class="modal-help">Need <a href="">helps</a></p>
            </footer>
        </div>
    </div>
    <script src="/assets/js/index.js"></script>
</body>

</html>